{% extends "base.html.twig" %}
{% block title %}page not found{% endblock %}
{% block body %}

    <div class="container errorpage">
        <h1>Oups ! the page you are looking for does not exist</h1>
        <a href="{{ path('homepage') }}" class="btn btn-secondary">back to home page</a>
    </div>
{% endblock %}